body{
    background-color:#B89090;
}
h1{
	font-family: arial;
	font-size: 45px;
	color:pink;
	text-align: center;
}
h2, h3, p{
	text-align: center;
}
img{
   display: block;
    margin: 0 auto;
}
#pepe{
	width: 240px;
	height: 220px;
	border-radius: 10%;
	border:2px solid #ffh000;
}
button{
    display: block;
    margin: 0 auto;
    color:black;
    background-color: #940E2B;
    padding: 15px 32px
}
#pepe:hover {
  box-shadow: 0 0 2px 1px black;
 transform: scale(1.5);
}
button:hover{
 background-color:white;
}
#tabla1 tr:hover {
    background-color: pink;
}
